<h1>Available Channels</h1>
<aside class="col-xs-12 col-md-6 col-lg-3">
  <ol class="list-group">
    <% @channels.each do |channel| %>
      <li class="list-group-item">
        
        <%= link_to channel.title, channel %>
        <% #link_to 'Edit', edit_channel_path(channel) %>
        <% #link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>

  </ol>
  <%= link_to 'New Channel', new_channel_path, :class => "btn btn-primary" %>
</aside>

