<h1>Messages</h1>



<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @msgs.each do |msg| %>
      <tr>
        <td><%= msg.user.email + " => " + msg.content %></td>
        <% if msg.user == current_user %>
        <td><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', msg, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
