<%= image_tag avatar_url(@user), :class => 'img-circle', :width => '100' %><br />
<field>
	<label>First Name: </label><%= @user.first_name %>
</field><br />
<field>
	<label>Last Name:</label><%= @user.last_name %>
</field><br />
<field>
	<label>Email:</label><%= @user.email %>
</field>