<field>
	<label>First Name: </label><%= @user.first_name %>
</field><br />
<field>
	<label>Last Name:</label><%= @user.last_name %>
</field><br />
<field>
	<label>Email:</label><%= @user.email %>
</field>