/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3{
	font-family 		: 'Open Sans', sans-serif;
	font-weight 		: 300;
	color 				: rgba(97,97,97 ,1);
}

.channel_form_slide, .form_slide, {
	margin-top: 20px;
}
.not_logged_in_msg, .channel_not_logged_in_msg, .alert {
	margin-top: 10px;
	padding: 10px;
	color: red;
	padding: 10px;
}
.slide_down, .slide_down_not_loggedIn{
	margin-top: 30px;
}
